.flag-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures the image doesn't overflow the container */
}

.flag-image {
  max-width: 100%; /* Ensure the image scales properly */
  width: 200px; /* Set a fixed width for the image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add spacing below the image */
}
